* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: monospace;
    font-weight: 400;
    color: #010120;
}

body {
    background-color: #064911;
    overflow: hidden;
}

.wrapper {
    background-color: #064911;
    width: 70%;
    min-width: 500px;
    height: 70%;
    min-height: 600px;
    padding: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.output {
    background-color: #064911;
    width: 100%;
    min-height: 250px;
    padding: 20px 0;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: grid;
    place-items: center;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4);
    overflow: hiddden;
}

.blob {
    height: 200px;
    width: 200px;
    background: linear-gradient(#c4c5cc, #8c8d91);
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.5);
}

.dimensions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 40px 0 40px 0;
}

label {
    font-weight: 500;
    color: #fff;
}

label::after {
    content: ":";
}

input[type="number"]:focus {
   background-color: #f1f5fa;
   border-color: #267706;
   color: #0fc017;
}

input[type="number"] {
    border-radius: 5px;
    border: none;
    padding: 0 0px 0px 5px;
    width: 60%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
    background: #064911;
    font-weight: 700;
}

.sliders {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #064911;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    height: 15px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #064911;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    top: -2px;
}

input[type='range'] {
    -webkit-appearance: none;
    position: relative;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #064911;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
    width: 82%;
    margin-top: 50px;
    padding: 10px;
    font-size: 12px;
    border: none;
    background-color: #f1eff9;
    border-radius: 3px;
    color: black;
}

button {
    width: 12%;
    margin-left: 4%;
    padding: 10px 0;
    background: linear-gradient(#064911 70%, #033d08);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    .sliders {
        grid-template-columns: 1fr;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 90vw;
        min-width: 300px;
        max-width: 400px;
        height: 90%;
        justify-content: center;
        overflow: auto;
    }

    .output {
        width: 80%;
    }

    .dimensions {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    button {
        width: 82%;
        margin-top: 10px;
    }
}

.footer {
    position: absolute;
    top: 0;
    color: white;
    font-weight: 600;
    padding: 2px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
}